body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

h1 {
    text-align: center;
}

#taskForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #111;
    padding: 20px 0;
}

#taskInput {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-add {
    cursor: pointer;
    background-color: #9ACD32;
    transition: all 250ms ease-in-out;
}

.btn-add:hover {
    background-color: #6B8E23;
}

#taskList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f7f8fd;
    padding: 10px;
}
